<img src="img/bootcamp.jpg">

# Estudo de estimativas populacionais por municípo 2000-2020

## Importando bibliotecas

In [26]:
import pandas as pd

## Leitura de arquivo csv e transformando em DataFrame

<p>Os arquivos foram extraídos do site <a href="https://datasus.saude.gov.br/informacoes-de-saude-tabnet/" target = '_blank'>datasus</a>, opção Demográficas e Socioeconômicas >> População residente >>> Estudo de Estimativas populacionais por município, sexo e idade - 2000-2020
</p>
<p>Um com a coluna Unidade de Federação e o outro com o sexo
</p>

In [29]:
populacao = pd.read_csv('estimativa_populacional.csv', delimiter = ';')
sexo = pd.read_csv('sexo.csv', delimiter = ';')

## Criação da coluna 'UF' e preenchimento com as siglas
<p>A forma que o arquivo foi gerado não nos ajuda muito na análise, por este razão vamos criar uma coluna UF</p>

In [31]:
ufs = ['RO', 'AC', 'AM', 'RR', 'PA', 'AP', 'TO', 'MA', 'PI', 'CE',
       'RN', 'PB', 'PE', 'AL', 'SE', 'BA', 'MG', 'ES', 'RJ', 'SP', 'PR', 'SC',
       'RS', 'MS', 'MT', 'GO', 'DF']

for uf in ufs:
    for index, row in populacao.iterrows():
        if row[uf] != '-':
            populacao.loc[index,'UF'] = uf

In [32]:
populacao

,Município,RO,AC,AM,RR,PA,AP,TO,MA,PI,...,SP,PR,SC,RS,MS,MT,GO,DF,Total,UF
0,110001 Alta Floresta D'Oeste,22728,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,22728,RO
1,110037 Alto Alegre dos Parecis,13255,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,13255,RO
2,110040 Alto Paraíso,21847,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,21847,RO
3,110034 Alvorada D'Oeste,14106,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,14106,RO
4,110002 Ariquemes,109523,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,109523,RO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,522200 Vianópolis,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,13977,-,13977,GO
5566,522205 Vicentinópolis,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,8873,-,8873,GO
5567,522220 Vila Boa,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,6312,-,6312,GO
5568,522230 Vila Propício,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,5882,-,5882,GO
5569,530010 Brasília,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,3055149,3055149,DF

## Reduzindo o número de colunas

In [33]:
populacao = populacao[['Município', 'UF', 'Total']]
populacao

                           Município  UF    Total
0       110001 Alta Floresta D'Oeste  RO    22728
1     110037 Alto Alegre dos Parecis  RO    13255
2                110040 Alto Paraíso  RO    21847
3            110034 Alvorada D'Oeste  RO    14106
4                   110002 Ariquemes  RO   109523
...                              ...  ..      ...
5565               522200 Vianópolis  GO    13977
5566           522205 Vicentinópolis  GO     8873
5567                 522220 Vila Boa  GO     6312
5568            522230 Vila Propício  GO     5882
5569                 530010 Brasília  DF  3055149

[5570 rows x 3 columns]

In [38]:
municipios = populacao.join(sexo.set_index(['Município', 'Total']), on=['Município', 'Total'])
municipios

                           Município  UF    Total  Masculino  Feminino
0       110001 Alta Floresta D'Oeste  RO    22728      11631     11097
1     110037 Alto Alegre dos Parecis  RO    13255       6764      6491
2                110040 Alto Paraíso  RO    21847      11154     10693
3            110034 Alvorada D'Oeste  RO    14106       7134      6972
4                   110002 Ariquemes  RO   109523      54747     54776
...                              ...  ..      ...        ...       ...
5565               522200 Vianópolis  GO    13977       6934      7043
5566           522205 Vicentinópolis  GO     8873       4704      4169
5567                 522220 Vila Boa  GO     6312       3646      2666
5568            522230 Vila Propício  GO     5882       3027      2855
5569                 530010 Brasília  DF  3055149    1468025   1587124

[5570 rows x 5 columns]

## Alterando a ordem das colunas

In [39]:
municipios = municipios[['Município', 'UF', 'Masculino', 'Feminino', 'Total']]
municipios

                           Município  UF  Masculino  Feminino    Total
0       110001 Alta Floresta D'Oeste  RO      11631     11097    22728
1     110037 Alto Alegre dos Parecis  RO       6764      6491    13255
2                110040 Alto Paraíso  RO      11154     10693    21847
3            110034 Alvorada D'Oeste  RO       7134      6972    14106
4                   110002 Ariquemes  RO      54747     54776   109523
...                              ...  ..        ...       ...      ...
5565               522200 Vianópolis  GO       6934      7043    13977
5566           522205 Vicentinópolis  GO       4704      4169     8873
5567                 522220 Vila Boa  GO       3646      2666     6312
5568            522230 Vila Propício  GO       3027      2855     5882
5569                 530010 Brasília  DF    1468025   1587124  3055149

[5570 rows x 5 columns]

---

#### Fonte de dados:
* http://tabnet.datasus.gov.br/cgi/deftohtm.exe?popsvs/cnv/popbr.def (dados populacionais estimados por cidade)
* https://datasus.saude.gov.br/informacoes-de-saude-tabnet/