<a href="https://colab.research.google.com/github/avellar1975/DataScience/blob/main/jupyter_notebooks/estimativa_populacional_municipio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="https://github.com/avellar1975/DataScience/raw/main/img/bootcamp.jpg">

# Estudo de estimativas populacionais por municípo 2000-2020

## Importando bibliotecas

In [13]:
import pandas as pd

## Leitura de arquivo csv e transformando em DataFrame

<p>Os arquivos foram extraídos do site <a href="https://datasus.saude.gov.br/informacoes-de-saude-tabnet/" target = '_blank'>datasus</a>, opção Demográficas e Socioeconômicas >> População residente >>> Estudo de Estimativas populacionais por município, sexo e idade - 2000-2020
</p>
<p>Um arquivo com os municípios e coluna Unidade de Federação e o outro com o número de habitantes separados por sexo.
</p>

In [14]:
populacao = pd.read_csv('https://raw.githubusercontent.com/avellar1975/DataScience/main/dados/estimativa_populacional.csv', delimiter = ';')
sexo = pd.read_csv('https://raw.githubusercontent.com/avellar1975/DataScience/main/dados/sexo.csv', delimiter = ';')

## Criação da coluna 'UF' e preenchimento com as siglas
<p>A forma que o arquivo foi gerado não nos ajuda muito na análise, por este razão vamos criar uma coluna UF</p>

In [15]:
ufs = ['RO', 'AC', 'AM', 'RR', 'PA', 'AP', 'TO', 'MA', 'PI', 'CE',
       'RN', 'PB', 'PE', 'AL', 'SE', 'BA', 'MG', 'ES', 'RJ', 'SP', 'PR', 'SC',
       'RS', 'MS', 'MT', 'GO', 'DF']

for uf in ufs:
    for index, row in populacao.iterrows():
        if row[uf] != '-':
            populacao.loc[index,'UF'] = uf

In [16]:
populacao

                           Município      RO AC AM  ...     GO       DF    Total  UF
0       110001 Alta Floresta D'Oeste   22728  -  -  ...      -        -    22728  RO
1     110037 Alto Alegre dos Parecis   13255  -  -  ...      -        -    13255  RO
2                110040 Alto Paraíso   21847  -  -  ...      -        -    21847  RO
3            110034 Alvorada D'Oeste   14106  -  -  ...      -        -    14106  RO
4                   110002 Ariquemes  109523  -  -  ...      -        -   109523  RO
...                              ...     ... .. ..  ...    ...      ...      ...  ..
5565               522200 Vianópolis       -  -  -  ...  13977        -    13977  GO
5566           522205 Vicentinópolis       -  -  -  ...   8873        -     8873  GO
5567                 522220 Vila Boa       -  -  -  ...   6312        -     6312  GO
5568            522230 Vila Propício       -  -  -  ...   5882        -     5882  GO
5569                 530010 Brasília       -  -  -  ...      -  3055149  3055149  DF

[5570 rows x 30 columns]

## Reduzindo o número de colunas

In [69]:
populacao = populacao[['Município', 'UF', 'Total']]
populacao

                           Município  UF    Total
0       110001 Alta Floresta D'Oeste  RO    22728
1     110037 Alto Alegre dos Parecis  RO    13255
2                110040 Alto Paraíso  RO    21847
3            110034 Alvorada D'Oeste  RO    14106
4                   110002 Ariquemes  RO   109523
...                              ...  ..      ...
5565               522200 Vianópolis  GO    13977
5566           522205 Vicentinópolis  GO     8873
5567                 522220 Vila Boa  GO     6312
5568            522230 Vila Propício  GO     5882
5569                 530010 Brasília  DF  3055149

[5570 rows x 3 columns]

In [70]:
municipios = populacao.join(sexo.set_index(['Município', 'Total']), on=['Município', 'Total'])
municipios

                           Município  UF    Total  Masculino  Feminino
0       110001 Alta Floresta D'Oeste  RO    22728      11631     11097
1     110037 Alto Alegre dos Parecis  RO    13255       6764      6491
2                110040 Alto Paraíso  RO    21847      11154     10693
3            110034 Alvorada D'Oeste  RO    14106       7134      6972
4                   110002 Ariquemes  RO   109523      54747     54776
...                              ...  ..      ...        ...       ...
5565               522200 Vianópolis  GO    13977       6934      7043
5566           522205 Vicentinópolis  GO     8873       4704      4169
5567                 522220 Vila Boa  GO     6312       3646      2666
5568            522230 Vila Propício  GO     5882       3027      2855
5569                 530010 Brasília  DF  3055149    1468025   1587124

[5570 rows x 5 columns]

## Alterando a ordem das colunas

In [71]:
municipios = municipios[['Município', 'UF', 'Masculino', 'Feminino', 'Total']]
municipios

                           Município  UF  Masculino  Feminino    Total
0       110001 Alta Floresta D'Oeste  RO      11631     11097    22728
1     110037 Alto Alegre dos Parecis  RO       6764      6491    13255
2                110040 Alto Paraíso  RO      11154     10693    21847
3            110034 Alvorada D'Oeste  RO       7134      6972    14106
4                   110002 Ariquemes  RO      54747     54776   109523
...                              ...  ..        ...       ...      ...
5565               522200 Vianópolis  GO       6934      7043    13977
5566           522205 Vicentinópolis  GO       4704      4169     8873
5567                 522220 Vila Boa  GO       3646      2666     6312
5568            522230 Vila Propício  GO       3027      2855     5882
5569                 530010 Brasília  DF    1468025   1587124  3055149

[5570 rows x 5 columns]

## Trabalhando com coordenadas

In [20]:
import folium

In [21]:
folium.Marker(
    [-19.9559872,-43.9151621],
    popup='<i>Praca do Papa</i>', 
    tooltip='Click aqui!'
    ).add_to(mapa)

mapa

In [79]:
coordenadas = pd.read_csv('https://raw.githubusercontent.com/avellar1975/DataScience/main/dados/coordenadas.csv', delimiter = ',')
coordenadas

      codigo_ibge                 nome  latitude  longitude  capital  codigo_uf
0         5200050      Abadia de Goiás -16.75730   -49.4412        0         52
1         3100104  Abadia dos Dourados -18.48310   -47.3916        0         31
2         5200100            Abadiânia -16.19700   -48.7057        0         52
3         3100203               Abaeté -19.15510   -45.4444        0         31
4         1500107           Abaetetuba  -1.72183   -48.8788        0         15
...           ...                  ...       ...        ...      ...        ...
5565      2933604          Xique-Xique -10.82300   -42.7245        0         29
5566      2517407               Zabelê  -8.07901   -37.1057        0         25
5567      3557154             Zacarias -21.05060   -50.0552        0         35
5568      2114007              Zé Doca  -3.27014   -45.6553        0         21
5569      4219853               Zortéa -27.45210   -51.5520        0         42

[5570 rows x 6 columns]

In [90]:
municipios

                           Município  UF  ...    Total  codigo_ibge
0       110001 Alta Floresta D'Oeste  RO  ...    22728       110001
1     110037 Alto Alegre dos Parecis  RO  ...    13255       110037
2                110040 Alto Paraíso  RO  ...    21847       110040
3            110034 Alvorada D'Oeste  RO  ...    14106       110034
4                   110002 Ariquemes  RO  ...   109523       110002
...                              ...  ..  ...      ...          ...
5565               522200 Vianópolis  GO  ...    13977       522200
5566           522205 Vicentinópolis  GO  ...     8873       522205
5567                 522220 Vila Boa  GO  ...     6312       522220
5568            522230 Vila Propício  GO  ...     5882       522230
5569                 530010 Brasília  DF  ...  3055149       530010

[5570 rows x 6 columns]

In [87]:
for index, row in municipios.iterrows():
    municipios.loc[index, 'codigo_ibge'] = row['Município'].split()[0]

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [88]:
municipios

                           Município  UF  ...    Total  codigo_ibge
0       110001 Alta Floresta D'Oeste  RO  ...    22728       110001
1     110037 Alto Alegre dos Parecis  RO  ...    13255       110037
2                110040 Alto Paraíso  RO  ...    21847       110040
3            110034 Alvorada D'Oeste  RO  ...    14106       110034
4                   110002 Ariquemes  RO  ...   109523       110002
...                              ...  ..  ...      ...          ...
5565               522200 Vianópolis  GO  ...    13977       522200
5566           522205 Vicentinópolis  GO  ...     8873       522205
5567                 522220 Vila Boa  GO  ...     6312       522220
5568            522230 Vila Propício  GO  ...     5882       522230
5569                 530010 Brasília  DF  ...  3055149       530010

[5570 rows x 6 columns]

In [94]:
municipios['codigo_ibge'] = pd.to_numeric(municipios['codigo_ibge'])
coordenadas['codigo_ibge'] = pd.to_numeric(coordenadas['codigo_ibge'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [95]:
municipios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Município    5570 non-null   object
 1   UF           5570 non-null   object
 2   Masculino    5570 non-null   int64
 3   Feminino     5570 non-null   int64
 4   Total        5570 non-null   int64
 5   codigo_ibge  5570 non-null   int64
dtypes: int64(4), object(2)
memory usage: 261.2+ KB

In [96]:

municipios.merge(coordenadas, left_on='codigo_ibge', right_on='codigo_ibge')
df

Empty DataFrame
Columns: [Município, UF, Masculino, Feminino, Total, codigo_ibge, nome, latitude, longitude, capital, codigo_uf]
Index: []

---

#### Fonte de dados:
* http://tabnet.datasus.gov.br/cgi/deftohtm.exe?popsvs/cnv/popbr.def (dados populacionais estimados por cidade)
* https://datasus.saude.gov.br/informacoes-de-saude-tabnet/
* https://minerandodados.com.br/plotando-mapas-interativos-com-python-visualize-dados-de-vendas-por-regiao/